# User-specific directories

Bayesian.egg-info/

#Bayesian/__pycache__/

Bayesian/Rethinking/*
Bayesian/Rethinking/*/
LICENSE
# !qq/kspacetoimage/Figures/
# !qq/kspacetoimage/KSpaceToImage.ipynb
# !qq/kspacetoimage/__init__.py