# User-specific directories
*
*/
!Bayesian/Rethinking/Rethinking_Ch03.ipynb
!.gitignore
!Bayesian_workspace.code-Bayesian_workspace
!LICENSE
!Makefile.txt
!pyproject.toml
!README.md
!requirements.txt

#!Bayesian/Rethinking/Rethinking_Ch03.ipynb
# !qq/kspacetoimage/Figures/
# !qq/kspacetoimage/KSpaceToImage.ipynb
# !qq/kspacetoimage/__init__.py