# User-specific directories
*
#Bayesian/*
Bayesian/Rethinking/*
/Bayesian.egg-info

!Bayesian/Rethinking/Rethinking_Ch03.ipynb
!.gitignore
!Bayesian_workspace.code-workspace
!LICENSE
!Makefile.txt
!pyproject.toml
!README.md
!requirements.txt